/*products start*/

.products .box-container .box .products-category {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0.5rem;
}

.products .box-container .box h3{
  font-size: 2.5rem;
  padding: 1rem 0;
  margin-top: 1.4rem;
}

.products .box-container .box p{
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: lowercase;
}

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap: 1.8rem;   
}

.products .box-container .box{
  padding: 3rem;
  background-color: white;
  border-radius: 3rem;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.products .box-container .price span.price{
  color: #4169E1;
  border: none;
}

.products .box-container .box .mesurement{
  text-transform: none;
  color: rgb(65, 65, 65);
}


/*products end*/


/*footer start*/
.footer {
  background-color: var(--black-color);
  text-align: center;
}

.footer .credit {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
  padding-top: 1.5rem;
}

.footer .credit span{
  color: var(--main-color);
}
/*footer end*/