
.header .logo img {
  height: 5rem;
  object-fit: cover;
  object-position: center;
}

.products .box-container .box img {
  width: 100%;
  object-fit: cover;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row img {
  width: 80%;
}