
/*home start*/
.home{
  min-height: 100vh;
  background: url(../images/background-image-essay.png)
  no-repeat;
  background-size: cover;
  background-position: center; 
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 50rem;
  margin-top: 5rem;
}

.home .content h3 {
  font-size: 6rem;
  color: white;
  margin-left: 0.7rem;
}

.home .content p{
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  color: #ccc;
}

.home .content .logo-content img{
  width: 10rem;
  margin-left: 8rem;
}
/*home end*/

/*products start*/

  .products .box-container .box .products-category {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0.5rem;
  }

  .products .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
  }

  .products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.8rem;   
  }

  .products .box-container .box{
    padding: 3rem;
    background-color: white;
    border-radius: 3rem;
    min-height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .products .box-container .box .mesurement{
    text-transform: none;
    color: rgb(65, 65, 65);
    font-size: 50%;
  }


/*products end*/

/*about start*/
 .about .row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  align-items: center;
 }

 .about .row .content{
  flex: 1 1 45rem;
 }

 .about .row .content h3{
  font-size: 2.5rem;
  color: white;
  margin-top: 3.5rem;
 }

 .about .row .content p{
  font-size: 1.7rem;
  color: white;
  padding: 1rem 0;
  line-height: 1.8rem;
  text-transform: none;
 }
/*about end*/

/*contact start*/
 .contact .row {
  display: flex;
  flex: wrap;
  gap: 1rem;
  background-color: #0e0e0e;
 }

 .contact .row .map{
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
 }

 .contact .row form{
  flex: 1 1 45rem;
  padding: 8rem 2rem;
  text-align: center;
  line-height: 2rem;
  color: white;
 }

 .contact .row h3{
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-decoration: underline;
 }

 .contact .row p{
  font-size: 1.5rem;
  line-height: 3rem;
  text-transform: uppercase;
 }
/*contact start*/

/*footer start*/
.footer {
  background-color: var(--black-color);
  text-align: center;
}

.footer .credit {
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
  padding-top: 1.5rem;
}

.footer .credit span{
  color: var(--main-color);
}
/*footer end*/
